In [1]:
import pandas as pd

In [2]:
df_training = pd.read_csv("../data/training.csv")
df_test = pd.read_csv("../data/test.csv")
df_lookup = pd.read_csv("../data/IdLookupTable.csv")
df_sample = pd.read_csv("../data/SampleSubmission.csv")

In [5]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1783 entries, 0 to 1782
Data columns (total 2 columns):
ImageId    1783 non-null int64
Image      1783 non-null object
dtypes: int64(1), object(1)
memory usage: 27.9+ KB

In [10]:
df_test.head(20)

    ImageId                                              Image
0         1  182 183 182 182 180 180 176 169 156 137 124 10...
1         2  76 87 81 72 65 59 64 76 69 42 31 38 49 58 58 4...
2         3  177 176 174 170 169 169 168 166 166 166 161 14...
3         4  176 174 174 175 174 174 176 176 175 171 165 15...
4         5  50 47 44 101 144 149 120 58 48 42 35 35 37 39 ...
5         6  177 177 177 171 142 115 97 84 89 90 88 82 63 5...
6         7  77 55 44 56 58 61 67 66 65 65 65 73 72 78 86 9...
7         8  156 160 162 166 150 114 97 105 125 127 119 121...
8         9  230 230 231 231 231 231 231 231 231 229 214 20...
9        10  132 129 126 128 146 163 170 169 143 101 71 55 ...
10       11  182 182 182 182 182 181 183 183 182 181 183 18...
11       12  207 205 204 202 205 197 184 179 179 176 189 19...
12       13  121 83 58 41 37 36 33 33 37 37 37 37 35 40 39 ...
13       14  89 60 63 65 65 84 64 35 46 79 116 130 131 134 ...
14       15  88 112 132 132 133 135 131 99 54 29 16 12 10 1...
15       16  153 153 155 156 155 154 153 153 153 154 150 14...
16       17  97 101 98 92 91 91 95 99 111 134 140 152 176 1...
17       18  253 252 254 236 173 103 67 57 50 47 43 35 37 4...
18       19  244 245 250 183 82 64 60 52 50 53 54 59 65 78 ...
19       20  121 122 124 123 133 157 163 162 164 165 136 83...

In [12]:
df = df_training
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 31 columns):
left_eye_center_x            7039 non-null float64
left_eye_center_y            7039 non-null float64
right_eye_center_x           7036 non-null float64
right_eye_center_y           7036 non-null float64
left_eye_inner_corner_x      2271 non-null float64
left_eye_inner_corner_y      2271 non-null float64
left_eye_outer_corner_x      2267 non-null float64
left_eye_outer_corner_y      2267 non-null float64
right_eye_inner_corner_x     2268 non-null float64
right_eye_inner_corner_y     2268 non-null float64
right_eye_outer_corner_x     2268 non-null float64
right_eye_outer_corner_y     2268 non-null float64
left_eyebrow_inner_end_x     2270 non-null float64
left_eyebrow_inner_end_y     2270 non-null float64
left_eyebrow_outer_end_x     2225 non-null float64
left_eyebrow_outer_end_y     2225 non-null float64
right_eyebrow_inner_end_x    2270 non-null float64
right_eyebrow_inner_end_y    2270 non-null float64
right_eyebrow_outer_end_x    2236 non-null float64
right_eyebrow_outer_end_y    2236 non-null float64
nose_tip_x                   7049 non-null float64
nose_tip_y                   7049 non-null float64
mouth_left_corner_x          2269 non-null float64
mouth_left_corner_y          2269 non-null float64
mouth_right_corner_x         2270 non-null float64
mouth_right_corner_y         2270 non-null float64
mouth_center_top_lip_x       2275 non-null float64
mouth_center_top_lip_y       2275 non-null float64
mouth_center_bottom_lip_x    7016 non-null float64
mouth_center_bottom_lip_y    7016 non-null float64
Image                        7049 non-null object
dtypes: float64(30), object(1)
memory usage: 1.7+ MB

In [14]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1783 entries, 0 to 1782
Data columns (total 2 columns):
ImageId    1783 non-null int64
Image      1783 non-null object
dtypes: int64(1), object(1)
memory usage: 27.9+ KB

In [16]:
df_lookup = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 31 columns):
left_eye_center_x            7039 non-null float64
left_eye_center_y            7039 non-null float64
right_eye_center_x           7036 non-null float64
right_eye_center_y           7036 non-null float64
left_eye_inner_corner_x      2271 non-null float64
left_eye_inner_corner_y      2271 non-null float64
left_eye_outer_corner_x      2267 non-null float64
left_eye_outer_corner_y      2267 non-null float64
right_eye_inner_corner_x     2268 non-null float64
right_eye_inner_corner_y     2268 non-null float64
right_eye_outer_corner_x     2268 non-null float64
right_eye_outer_corner_y     2268 non-null float64
left_eyebrow_inner_end_x     2270 non-null float64
left_eyebrow_inner_end_y     2270 non-null float64
left_eyebrow_outer_end_x     2225 non-null float64
left_eyebrow_outer_end_y     2225 non-null float64
right_eyebrow_inner_end_x    2270 non-null float64
right_eyebrow_inner_end_y    2270 non-null float64
right_eyebrow_outer_end_x    2236 non-null float64
right_eyebrow_outer_end_y    2236 non-null float64
nose_tip_x                   7049 non-null float64
nose_tip_y                   7049 non-null float64
mouth_left_corner_x          2269 non-null float64
mouth_left_corner_y          2269 non-null float64
mouth_right_corner_x         2270 non-null float64
mouth_right_corner_y         2270 non-null float64
mouth_center_top_lip_x       2275 non-null float64
mouth_center_top_lip_y       2275 non-null float64
mouth_center_bottom_lip_x    7016 non-null float64
mouth_center_bottom_lip_y    7016 non-null float64
Image                        7049 non-null object
dtypes: float64(30), object(1)
memory usage: 1.7+ MB

In [21]:
df_sample.info()
df.Image

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27124 entries, 0 to 27123
Data columns (total 2 columns):
RowId       27124 non-null int64
Location    27124 non-null int64
dtypes: int64(2)
memory usage: 423.9 KB

0       238 236 237 238 240 240 239 241 241 243 240 23...
1       219 215 204 196 204 211 212 200 180 168 178 19...
2       144 142 159 180 188 188 184 180 167 132 84 59 ...
3       193 192 193 194 194 194 193 192 168 111 50 12 ...
4       147 148 160 196 215 214 216 217 219 220 206 18...
5       167 169 170 167 156 145 106 68 52 24 20 15 21 ...
6       109 109 125 141 145 139 120 81 45 34 31 35 36 ...
7       178 177 178 179 179 179 181 185 188 184 192 20...
8       164 158 118 76 66 69 59 53 43 31 35 41 45 55 6...
9       226 227 225 224 221 220 215 210 210 208 206 18...
10      52 51 54 57 57 56 55 55 56 59 62 66 67 72 79 8...
11      142 124 123 133 140 147 151 147 137 136 125 12...
12      86 93 106 114 112 110 111 113 138 147 148 132 ...
13      75 65 63 75 70 78 84 97 106 71 39 25 23 21 18 ...
14      119 106 101 106 89 66 67 72 85 112 118 109 96 ...
15      52 54 74 76 55 48 47 41 38 37 34 33 33 31 30 3...
16      201 200 202 193 124 59 53 50 48 56 66 76 114 1...
17      202 201 201 202 201 200 200 200 199 200 173 74...
18      181 182 182 181 182 184 186 186 187 189 202 20...
19      64 56 53 51 57 74 85 86 88 90 95 99 97 92 96 9...
20      240 240 240 239 235 233 231 227 222 218 213 20...
21      245 245 245 252 210 95 46 42 43 45 45 52 67 80...
22      185 185 187 185 184 184 184 183 184 182 180 18...
23      241 241 241 240 241 239 235 233 228 224 224 22...
24      109 106 57 10 11 18 17 15 17 18 17 20 15 11 19...
25      254 254 254 254 254 254 254 254 253 255 219 13...
26      5 2 5 9 10 5 6 8 4 2 1 1 9 12 10 10 10 10 12 1...
27      196 195 192 192 191 191 189 190 186 176 171 16...
28      177 175 176 175 177 177 176 182 184 184 189 19...
29      160 157 159 152 143 160 176 181 172 116 57 47 ...
                              ...
7019    66 60 81 68 66 49 41 61 104 97 77 91 84 90 76 ...
7020    39 33 26 20 15 12 10 8 5 5 6 6 6 5 5 6 9 11 11...
7021    75 75 76 77 78 81 86 93 103 106 107 117 131 15...
7022    136 145 170 181 163 149 144 139 143 148 150 15...
7023    152 149 139 129 105 81 73 67 69 80 88 91 94 83...
7024    15 15 14 13 14 14 14 19 30 43 57 74 94 98 96 1...
7025    47 47 47 47 46 46 47 44 41 44 46 47 47 45 44 4...
7026    17 19 19 19 18 16 15 13 12 11 11 12 12 11 12 1...
7027    28 28 26 25 24 26 37 38 42 46 50 53 54 58 67 7...
7028    85 86 86 86 84 84 84 83 88 63 17 19 26 20 17 2...
7029    17 17 17 17 17 17 17 17 17 21 20 17 15 15 20 2...
7030    18 38 48 36 18 14 13 11 11 12 12 11 9 10 12 13...
7031    8 15 20 16 12 10 11 19 30 43 55 63 68 65 62 59...
7032    196 180 171 159 153 156 160 154 145 143 131 11...
7033    146 142 153 168 133 54 22 35 49 61 61 69 82 81...
7034    65 62 67 96 99 94 82 56 42 41 48 64 91 140 173...
7035    155 157 159 157 157 159 161 159 153 146 139 13...
7036    247 244 241 238 233 227 218 200 185 171 157 14...
7037    242 244 247 226 212 226 237 248 251 253 254 25...
7038    59 55 59 65 93 145 185 201 205 204 201 196 190...
7039    43 49 57 67 81 98 97 94 91 94 97 101 96 91 88 ...
7040    139 140 143 141 141 140 140 139 140 141 143 14...
7041    164 165 167 168 169 170 172 171 170 171 173 16...
7042    254 235 191 141 106 93 94 123 168 178 178 186 ...
7043    150 150 132 63 44 74 86 61 62 57 44 70 93 115 ...
7044    71 74 85 105 116 128 139 150 170 187 201 209 2...
7045    60 60 62 57 55 51 49 48 50 53 56 56 106 89 77 ...
7046    74 74 74 78 79 79 79 81 77 78 80 73 72 81 77 1...
7047    254 254 254 254 254 238 193 145 121 118 119 10...
7048    53 62 67 76 86 91 97 105 105 106 107 108 112 1...
Name: Image, Length: 7049, dtype: object